body {
    margin: 0;
    background-color: #8ceff7;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 850px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    box-shadow: 3px 3px 5px;
    border-radius: 10px;
    padding: 50px;
}

.titulo {
    font-size: 35px;
    color: rgb(226, 74, 74);
    margin-bottom: 60px;
}

.subTitulo {
    font-size: 28px;
    color: rgb(74, 183, 226);
}

.pergunta {
    font-size: 25px;
    color: rgb(44, 152, 179);
    margin-bottom: 20px;
}

.opcoesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.opcoes {
    width: 350px;
    background-color: rgb(223, 65, 65);
    color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

.resposta {
    font-size: 25px;
    color: rgb(44, 152, 179);
    margin-right: 15px;
}

.input {
    width: 30px;
    margin-right: 15px;
    border: 1px solid rgb(44, 152, 179);
    border-radius: 5px;
    text-align: center;
}

.button {
    background-color: #8ceff7;
    border: none;
    padding: 5px;
    border-radius: 5px;
}